
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(42, 38, 255);
}

body{
    background-color: white;
    background-image: url(../img/fondo2jpg.jpg); height: "50";
    background-size: 100%;
}

header{
    background-image: url(../img/banner1.jpg);
    background-size: 100%;
}